@model IEnumerable<SubidaFicherosMVC.Models.Ficheros>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Nuevo archivo interno", "Subida", new { almacen = 1 })
@foreach (var item in Model)
{
    if (item.tipo.Contains("interno"))
    {
        if (item.tipoFichero == 1)
        {
            <img src="/ficheros/@item.datos" />
        }
        else
        {
            <a href="/ficheros/@item.datos">@item.nombre</a>
        }
    }
    else if (item.tipo.Contains("base64"))
    {
        if (item.tipoFichero == 1)
        {
            <img src="data:image/jpeg;base64,@item.datos" />
        }
        else
        {
            @Html.ActionLink(@item.nombre, "DownloadFile", new { id = item.id, tipo = 0 }, new { target = "_blank" })
        }
    }
    else if (item.tipo.Contains("binario"))
    {
        if (item.tipoFichero == 1)
        {
            <img src="data:image/jpeg; base64, @Convert.ToBase64String(item.datosb)" />
        }
        else
        {
            @Html.ActionLink(@item.nombre, "DownloadFile", new
       {
           id = @item.id,
           tipo = 1
       }, new { target = "_blank" })
        }
    }
}
